
# BEGIN ShortPixelWebp
# Les directives (lignes) entre 'BEGIN ShortPixelWebp' et 'END ShortPixelWebp' sont
# généré dynamiquement, et ne doivent uniquement être modifiées via les filtres WordPress.
# Toute modification des directives entre ces marqueurs sera outrepassée.

# END ShortPixelWebp